<section class="content">
  <h1 class="title">Simple expense manager project</h1>
  <hr>
  <h3 class="secondtitle">Add a new item or add new user: </h3>
  <div class="form">
    <form id="expForm">
      <button (click)="pushdata();">Add User</button>

      <div class="formLine left">
        <span for="user">Select User:</span>
        <select class="users">
          <option id="pText" value="a">Option A</option>
          <option value="pText">Option B</option>
          <option value="pText">Option C</option>
          <option value="pText">Option D</option>
          <option value="pText">Option E</option>
        </select>
      </div>

      <div class="formLine left">
        <span for="type">Type:</span>
        <select id="type">
          <option value="chooseOne">Choose one...</option>
          <option value="Card">Card</option>
          <option value="Cryptocoin">Cryptocoin</option>
          <option value="Other">Other</option>
        </select>
      </div>

      <div class="formLine left">
        <span for="currency">Currency:</span>
        <select id="currency">
          <option value="INR">INR</option>
          <option value="USD">USD</option>
        </select>
      </div>
      <div class="formLine left">
        <span for="name">Spend For: </span>
        <input type="text" id="name" placeholder="What did you spend on?">
      </div>

      <div class="formLine left">
        <span for="date">Date:</span>
        <input type="date" id="date">
      </div>
      <div class="formLine left">
        <span for="amount">Amount:</span>
        <input type="text" id="amount">
      </div>
      <button type="submit" class="buttonSave">Add a new expense</button>
    </form>
    <hr>
  </div>
  <br />
  <br />
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Currency</th>
        <th>User</th>
        <th>Spend For</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody id="expenseTable">

    </tbody>
  </table>
</section>
